.elementor-8005 .elementor-element.elementor-element-bcf831b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: -43px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-8005 .elementor-element.elementor-element-24c4e33 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 23px;
    --padding-right: 0px;
}

.elementor-8005 .elementor-element.elementor-element-24c4e33:not(.elementor-motion-effects-element-type-background),
.elementor-8005 .elementor-element.elementor-element-24c4e33>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-8005 .elementor-element.elementor-element-c84528c {
    width: auto;
    max-width: auto;
}

.elementor-8005 .elementor-element.elementor-element-c84528c .pxl-logo img {
    max-height: 48px;
}

.elementor-8005 .elementor-element.elementor-element-94db873>.elementor-widget-container {
    margin: 0px 0px 0px 58px;
}

.elementor-8005 .elementor-element.elementor-element-94db873.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}

.elementor-8005 .elementor-element.elementor-element-4b8ccc6>.elementor-widget-container {
    margin: 0px 25px -8px 25px;
}

.elementor-8005 .elementor-element.elementor-element-4b8ccc6 .pxl-icon--users.active .form-hover {
    top: 52px;
}

.elementor-8005 .elementor-element.elementor-element-3aed8e1>.elementor-widget-container {
    margin: 0px 30px -1px 0px;
}

.elementor-8005 .elementor-element.elementor-element-3aed8e1 .pxl-cart-sidebar-button {
    border-color: #DF777700;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover {
    background-color: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .after-button svg path {
    fill: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .before-button svg path {
    fill: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .after-button:before {
    background-color: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .before-button:before {
    background-color: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .after-button:after {
    background-color: #000;
}

.elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn:hover .before-button:after {
    background-color: #000;
}

@media(max-width:1600px) {
    .elementor-8005 .elementor-element.elementor-element-24c4e33 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 0px;
    }

    .elementor-8005 .elementor-element.elementor-element-94db873>.elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }

    .elementor-8005 .elementor-element.elementor-element-4b8ccc6>.elementor-widget-container {
        margin: 0px 10px -8px 10px;
    }

    .elementor-8005 .elementor-element.elementor-element-3aed8e1>.elementor-widget-container {
        margin: 0px 20px -1px 0px;
    }

    .elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn {
        font-size: 15px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn.pxl-icon--right:not(.btn-svg) i,
    .elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn.pxl-icon--right:not(.btn-svg) svg {
        margin-left: 10px;
    }

    .elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn-svg.pxl-icon--right:hover svg {
        margin-left: 10px;
    }

    .elementor-8005 .elementor-element.elementor-element-06805bc .pxl-button .btn.style-icon-3 {
        gap: 10px;
    }
}